bin
obj
packages
publish
installer
App_Data
WexLogFileOutput
node_modules
.vs
.idea
.sonarqube
.vscode
.DS_Store

Thumbs.db
project.lock.json
applicationhost.config
TestCases.xlsx

TestResult.xml
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
doc/~$*

# python
__pycache__/
*.py[cod]
*$py.class

#result
stdout
stderr
bak/
output
report
